.uk-navbar-nav>li>a {
    color: #fff;
}

h2{
    font-size:36px;
    color:#1494a0;
    font-weight:600;
}

.uk-grid-divider>:not(.uk-first-column)::before {
    border-left: 2px solid #1494a0;
}
#skills{
    background:#1494a0;
}

#skills h2{
    color:#ffffff;
}

#skills h4{
    color:#1494a0;
}

#education h4,#education h5{
    margin:5px 0;
    color:#1494a0;
    font-weight:500;
}

#portfolio .uk-card,#portfolio .uk-card:hover{
    text-decoration: none;
    color:#565657;
    overflow:hidden;
}

#portfolio .my-overlay{
    background:rgba(0,0,0,0.6);
    color:#fff;
}