
.uk-section-default {
    background: #f7f7f7;
}

p{
font-size:15px;
}


.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
    min-height:50px;
}

.uk-navbar-nav>li>a img {
    width: 50px;
    display: block;
    margin: 0 auto 15px;
}

.navigation .navbar {
    background: transparent;
    width: 100%;
    background: #000;
    top: 0;
    z-index: 10;
}

.uk-navbar-nav>li>a,.uk-navbar-nav>li>a:hover,
.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus {
    color: #2ecbde;
    display: block;
    font-size: 16px;
    padding: 10px 30px;
    margin: 0px 50px;
}

.uk-navbar-nav>li>a span {
    display: block;
    font-size: 14px;
}

.uk-navbar-nav>li>a:hover {
    background: #f7f7f7;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github{
    background: #404040;
    color: white;
}

.phone{
    background:  #44e25e;
    color: #fff;
}

.mail{
    background: #636395;
    color: #fff;
}
  
  

h2{
    font-size:36px;
    color:#1eacbd;
    font-weight:600;
}

.uk-grid-divider>:not(.uk-first-column)::before {
    border-left: 2px solid #2ab9ca;
}

.uk-divider-icon{
    margin-top:-10px;
}

#about{
    height:70vh;
    background:#e9ecf1;
    padding:200px 100px;
}

.about-bg{
    background: #f7f7f7;
    padding:50px;
    border-radius:40px;
}

section#education,
section#portfolio,
section#certifications {
    padding-top: 160px;
}

#education h4,#education h5{
    margin:5px 0;
    color: #2ab9ca;
    font-weight:500;
}

#portfolio .uk-card,#portfolio .uk-card:hover{
    text-decoration: none;
    color:#565657;
    overflow:hidden;
}
#portfolio .uk-button-default{
    max-width: 180px;
}

h3.title{
    font-size: 27px;
    font-weight: 700;
    color: #2ab9ca;
}

.timeline__item:nth-child(2n) {
    float: right;
    clear: both;
}

.timeline__item:nth-child(2n+1) {
    float: left;
    clear: both;
    padding-right: 40px;
}

.timeline__content {
    border: 2px solid #0e0e0e !important;
}

.timeline__item:nth-child(2n) .timeline__content:before {
    border-bottom: 10px solid transparent;
    border-right: 12px solid #000000;
    border-top: 10px solid transparent;
    left: -12px;
    z-index: 5;
    border-left: 0;
}

.timeline__item:after {
    background-color: #fff !important;
    border: 3px solid #2ab9ca !important;
    font-size: 11px;
    width: 50px !important;
    height: 50px !important;
    right: -25px !important;
    padding: 15px 8px !important;
    font-weight: 700;
}

.timeline__item:nth-child(1):after{
   content:'2018' !important;
}

.timeline__item:nth-child(2):after{
    content:'2017' !important;
 }

 .timeline__item:nth-child(3):after{
    content:'2014' !important;
 }

 .timeline__item:nth-child(4):after{
    content:'2009' !important;
 }


.timeline__item:nth-child(2n) .timeline__content {
    margin-left: 40px;
}

.timeline__item:nth-child(2n+1) .timeline__content:before {
    border-bottom: 10px solid transparent;
    border-left: 12px solid #000000;
    border-top: 10px solid transparent;
    right: -12px;
    z-index: 5;
}

.timeline__content h5:before{
    width: 20px;
    height:20px;
    content:' ';
    background-size:contain;
    margin-right:10px;
    display:inline-block;
}

.timeline__item:nth-child(1) h5:before,.timeline__item:nth-child(2) h5:before{
    background-image:url('../img/portfolio.png');
}

.timeline__item:nth-child(3) h5:before, .timeline__item:nth-child(4) h5:before{
    background-image:url('../img/students-cap.png');
}

.timeline:not(.timeline--horizontal):before {
    background-color: #000000 !important;
}

.timeline__content:after {
    display: none;
}

.timeline__item:after {
    background-color: #2ab9ca !important;
    border: 2px solid #020202 !important;
    color: #fff !important;
}

.timeline__item:nth-child(2n):after {
    left: -20px;
}

.timeline__content h5 span {
    float: right;
    display: inline-block;
    font-size: 13px;
    opacity: 0.9;
    margin-top: 5px;
    font-weight: 700;
}

.timeline__content h5 {
    margin-bottom: 0;
}

.timeline__content span {
    color: #666;
    font-style: italic;
    font-size: 14px;
}


h5{
    font-weight:700;
    color: #2ab9ca;
}

.uk-card-default .uk-card-body{
    min-height:235px;
}

.uk-card-default .uk-card-footer {
    border-top: 1px solid #e5e5e5;
    font-size: 12px;
    background: #2ab9ca;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.uk-card-media-top img {
    height: 290px;
    width: 100%;
}

#portfolio .uk-grid-margin {
    margin-top: 40px;
}


.uk-button-default {
    background-color: transparent;
    color: #1494a0;
    border: 1px solid #2ab9ca;
}

.uk-button-default:hover {
    background: #2ab9ca;
    color: #fff;
    border: 1px solid #fff;
}

.skill-circle{
    width:100px;
    height:100px;
    text-align:center;
    border-radius:100%;
    border:1px solid #fff; 
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px;
    background: #2ab9ca;
}

.skill-circle p{
    margin:0;
    color:#fff;
    text-align:center;
    width:100%;
}

#skills{
    min-height:700px;
}

.circle-container{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 100%;
}

.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg45 {transform: rotate(45deg) translate(12em) rotate(-45deg);}
.deg90 { transform: rotate(90deg) translate(12em) rotate(-90deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

.skill-arrow{
    width:0px;
}

.arrowdeg45 {transform: rotate(45deg)}
.arrowdeg90 { transform: rotate(90deg)}
.arrowdeg135 { transform: rotate(135deg)}
.arrowdeg180 { transform: translate(-12em); }
.arrowdeg225 { transform: rotate(225deg)}
.arrowdeg270 { transform: rotate(270deg)}
.arrowdeg315 { transform: rotate(315deg)}


.skill-icon {
    width: 100px;
    height: 100px;
    -webkit-animation-name: rotate; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation: rotate ease-in 1s infinite;
    background:none;
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px;
  }

  .skill-arrow{
    -webkit-animation-name: arrow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation: arrow ease-in 1s;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes rotate {
    0%   {transform: rotate(0deg)}
    50%  {transform: rotate(180deg)}
    100% {transform: rotate(0deg)}
  }
  
  /* Standard syntax */
  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    50%  {transform: rotate(180deg)}
    100% {transform: rotate(0deg)}
  }

  @-webkit-keyframes arrow {
    0%   {width: 50px}
    50%  {width: 75px}
    100% {width: 100px}
  }



